repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # zizmor detects security issues in GitHub Actions workflows.
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.19.0
    hooks:
      - id: zizmor
        args: ["--min-severity", "low", "--min-confidence", "low"]
