# This workflow scans geti-ci repo with Zizmor (static analysis tool for GitHub Actions)
# and outputs results into GitHub security tab

name: Zizmor scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
  schedule:
    # Run security checks every day at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  zizmor-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results to code-scanning dashboard
    steps:
      - name: Harden the runner (audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run Zizmor scan
        uses: ./actions/zizmor
        with:
          scan-scope: ${{ github.event_name == 'pull_request' && 'changed' || 'all' }}
          severity-level: ${{ github.event_name == 'pull_request' && 'LOW' || 'LOW' }}
          confidence-level: ${{ github.event_name == 'pull_request' && 'LOW' || 'LOW' }}
          fail-on-findings: ${{ github.event_name == 'pull_request' && 'true' || 'false' }}
