# This workflow scans geti-ci repo with Zizmor (static analysis tool for GitHub Actions)
# and outputs results into GitHub security tab

name: Zizmor scan

on:
  schedule:
    # Run security checks every day at 2 AM UTC
    - cron: "0 2 * * *"

permissions: {}

jobs:
  zizmor-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write # Needed to upload the results to code-scanning dashboard
    steps:
      - name: Harden the runner (audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run Zizmor scan
        uses: ./actions/zizmor
        with:
          scan-scope: "all"
          severity-level: "LOW"
          confidence-level: "LOW"
          fail-on-findings: false # reports only
